* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav, footer, header, aside {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

body::-webkit-scrollbar {
  display: none;
}

ol, ul {
  list-style: none;
}

html, body {
  color-scheme: unset;
  background-color: aliceblue;
  color: black;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto";
  list-style: none;
  line-height: 18px;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  background: url(img/content/Rectangle\ 14.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.header-container {
  margin: 0 auto;
  max-width: 1089px;
}

.header-nav__right {
  width: 100%;
}

.header-nav__left {
  width: 100%;
}

.header-nav {
  display: inline-block;
  font-size: 15.5px;
  display: flex;
  justify-content: center;
}

.header-nav__leftlist {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 17px;
  justify-content: flex-start;
}
.header-nav__leftlist li:hover {
  transition: 0.2s linear;
  opacity: 0.7;
}

.header-nav__rightlist {
  margin-top: 50px;
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
.header-nav__rightlist li:hover {
  transition: 0.2s linear;
  opacity: 0.7;
}
.header-nav__rightlist li:active {
  opacity: 1;
}

.header-nav__logo {
  position: relative;
  top: 20px;
}

.header-text {
  gap: 10px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 1%;
  line-height: 70px;
}

.header-subtitle {
  line-height: 48.5px;
  font-size: 48px;
  font-weight: 600;
}

.header-subtitle--gold {
  font-weight: 600;
  font-size: 34px;
  line-height: 34px;
  margin-top: 10px;
}

.header-line {
  width: 386px;
  height: 1px;
  background: url(img/content/Line\ 1.svg);
}

.header-subtitle--small {
  font-size: 15.5px;
}

.section-container-1 {
  margin: 0 auto;
  max-width: 893px;
}

.section-1 {
  margin-top: 100px;
}

.section-1-title {
  font-weight: 300;
  font-size: 32px;
  line-height: 37.5px;
  margin-bottom: 34px;
}

.subtitle-container {
  grid-template-columns: 439px auto;
  height: 119px;
  display: grid;
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 30px;
}

.subtitle-right {
  font-weight: 700;
  margin-left: 20px;
}

.section-1-img {
  width: 893px;
  height: 413px;
  background: url(img/content/portimao_cover\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-header {
  display: flex;
}

.section-header-text--all {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 438px;
}

.section-header__title {
  font-weight: 300;
  font-size: 32px;
  line-height: 37.5px;
}

.section-header-text {
  line-height: 16.8px;
}

.section-header-text__top {
  width: 352px;
  margin-top: 30px;
}

.section-header-text__bottom {
  width: 352px;
  margin-top: 30px;
}

.section-header__image {
  margin-top: 100px;
  margin-left: 20px;
}

.section-footer {
  margin-top: 66px;
  height: 279px;
  width: 907px;
  display: flex;
}

.section-footer-left {
  display: flex;
  flex-direction: column;
}

.section-footer-left__title {
  width: 415px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 37.5px;
  font-size: 28px;
}

.section-footer-left__subtitle {
  width: 377px;
  padding-top: 30px;
  line-height: 16.8px;
}

.section-footer-right {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 481px;
  height: 249px;
  display: flex;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 16.8px;
  font-weight: 400;
  font-size: 13px;
}

.grid-box-1 {
  display: flex;
  width: 130px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.grid-box-2 {
  display: flex;
  width: 190px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.grid-box-3 {
  display: flex;
  width: 164px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.line-top {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: red;
}

.main-background {
  background: url(img/content/gran_final_01\ 1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 890px;
  margin-top: 100px;
  padding-top: 47px;
}

.container-new {
  margin-top: 100px;
  max-width: 900px;
  margin: 0 auto;
}

.main-text {
  min-height: 170px;
  width: 434px;
}

.main__title {
  line-height: 37.5px;
  font-size: 32px;
  font-weight: 300;
}

.main__subtitle {
  margin-top: 30px;
  line-height: 16.8px;
  font-weight: 400;
  font-size: 14px;
}

.main__image {
  background: url(img/content/jtfjtx.png) no-repeat 30px 215px, url(img/content/licyfhgdc.png) no-repeat center/730px auto;
  width: 727.77px;
  height: 339.95px;
  margin-top: 250.52px;
  margin-left: auto;
  animation: car 2s ease infinite;
}

@keyframes car {
  from {
    background: url(img/content/jtfjtx.png) no-repeat 30px 215px, url(img/content/licyfhgdc.png) no-repeat center/730px auto;
  }
  to {
    background: url(img/content/jtfjtx.png) no-repeat 160px 215px, url(img/content/licyfhgdc.png) no-repeat center/730px auto;
  }
}
.wrapper-second {
  min-height: 100%;
  overflow: hidden;
}

.grey {
  position: relative;
  height: 871px;
  background-color: #363636;
}

.grey-container {
  background: url(img/content/Polygon\ 4.png) no-repeat left 200px, url(img/content/Polygon\ 4.png) no-repeat right 340px;
  margin: 0 auto;
  max-width: 900px;
}

.grey-text {
  color: white;
  display: flex;
}

.grey-text__title {
  margin-top: 100px;
  padding-right: 20px;
  font-weight: 300;
  font-size: 32px;
  line-height: 37.5px;
}

.grey-text-subtitle {
  margin-top: 100px;
  margin-left: auto;
  height: auto;
  width: 437px;
  flex-direction: column;
  display: flex;
  line-height: 16.8px;
  font-size: 14px;
  font-weight: 400;
}

.grey-text-subtitle__top {
  margin-bottom: 30px;
}

.grey__image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 198px;
  width: 725px;
  height: 214px;
  background: url(img/content/gfeaegaeg.png) no-repeat;
}

.gray-nav-container {
  height: 34px;
  max-width: 900px;
}

.gray-nav {
  background-color: #363636;
  margin-top: 58px;
  color: #FFF;
  font-family: "Roboto";
  line-height: 16.8px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  height: 34px;
}
.gray-nav ul {
  background-color: #363636;
  display: flex;
  gap: 30px;
}
.gray-nav ul li {
  background-color: #363636;
  text-align: left;
}

.sub-grey-container {
  margin: 0 auto;
  max-width: 900px;
}
.sub-grey-container-text {
  margin-top: 126px;
  display: flex;
  min-width: 590px;
  flex-direction: column;
  gap: 30px;
}
.sub-grey-container-text__first {
  padding-right: 305px;
}
.sub-grey-container-text__second {
  padding-right: 153px;
}
.sub-grey-container__video {
  height: 258px;
  background: url(img/content/video.png) no-repeat center/auto 254px;
  margin-top: 100px;
}
.sub-grey-container__video a {
  display: block;
}
.sub-grey-container__video:hover {
  opacity: 0.9;
  transition: 0.2s linear;
}

.blog {
  margin-top: 100px;
}

.blog-container {
  max-width: 900px;
  margin: 0 auto;
}
.blog-container__title {
  font-weight: 300px;
  font-size: 32px;
  line-height: 37.5px;
  padding-left: 1px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.blog-container-subtitle {
  display: flex;
  gap: 20px;
}

.blog-container-subtitle-right {
  max-width: 435px;
  display: flex;
  flex-direction: column;
}
.blog-container-subtitle-right__title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400px;
  line-height: 23.5px;
}
.blog-container-subtitle-right__subtitle {
  margin-top: 10px;
  line-height: 16.8px;
}
.blog-container-subtitle-right__subtitle span {
  display: inline-block;
  cursor: pointer;
  line-height: 14.4px;
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.9;
}
.blog-container-subtitle-right__subtitle span:hover {
  transition: 0.3s linear;
  opacity: 0.6;
}

.blog-container-subtitle-left__title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400px;
  line-height: 23.5px;
}
.blog-container-subtitle-left__subtitle {
  margin-top: 34px;
  line-height: 16.8px;
}
.blog-container-subtitle-left__subtitle span {
  display: inline-block;
  cursor: pointer;
  line-height: 14.4px;
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.9;
}
.blog-container-subtitle-left__subtitle span:hover {
  transition: 0.3s linear;
  opacity: 0.6;
}

.win {
  margin-top: 100px;
  display: flex;
}
.win-chapmion {
  margin-bottom: 30px;
  max-width: 434px;
  height: 112px;
}
.win-chapmion--gold {
  color: #9F6B08;
  font-size: 12px;
  line-height: 14.4px;
  margin-bottom: 3px;
}
.win-chapmion--bold {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.win-chapmion--normal {
  font-style: italic;
  font-weight: 400;
  line-height: 16.8px;
}

#winners {
  margin-bottom: 0;
}

.win-image {
  width: 438px;
  height: 272px;
  background-color: aquamarine;
  background: url(img/content/ligv.png) no-repeat center/385px auto;
  margin-left: 20px;
}

.footer {
  color: #fff;
  margin-top: 100px;
  background-color: #363636;
  padding-top: 100px;
  font-weight: 400;
  font-size: 15.53px;
  list-style: 18.2px;
}

.footer-container {
  max-width: 913px;
  margin: 0 auto;
}

.footer-container-flex {
  display: flex;
  justify-content: space-between;
}

.footer-left-list a:hover {
  opacity: 0.6;
  transition: 0.2s linear;
}

.footer-left-list-social {
  display: flex;
  gap: 20px;
  max-width: 143px;
}

.footer-left-list__element--1 {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 37.5px;
  font-weight: 300;
  margin-bottom: 50px;
}
.footer-left-list__element--2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-bottom: 20px;
}
.footer-left-list__element--3 {
  margin-bottom: 10px;
}
.footer-left-list__element--4 {
  margin-bottom: 10px;
}
.footer-left-list__element--5 {
  margin-bottom: 50px;
}
.footer-left-list__element--6 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}
.footer-left-list__element--7 {
  margin-bottom: 11px;
}
.footer-left-list__element--8 {
  margin-bottom: 50px;
}

.footer-right {
  max-width: 454px;
  margin-top: 88px;
}
.footer-right__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  margin-bottom: 20px;
}
.footer-right__subtitle {
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 20px;
  font-weight: 300;
}
.footer-right__subtitle:hover {
  transition: 0.2s linear;
  opacity: 0.6;
}
.footer-right img:hover {
  transition: 0.2s linear;
  outline: 5px solid #000;
}

.footer-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  max-width: 913px;
  height: 58px;
  background-color: aquamarine;
  margin-top: 138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(img/logo/Logo.svg) no-repeat center/50px auto;
}
.footer-bottom div:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}

@media (max-width: 1000px) {
  .header-nav {
    flex-direction: column;
  }
  .header-nav__leftlist {
    justify-content: center;
  }
  .header-nav__rightlist {
    justify-content: center;
  }
  .header-nav__logo {
    display: inline-block;
    top: 20px;
    display: flex;
    justify-content: center;
  }
  .header-text {
    color: black;
    margin-top: 40px;
  }
  .header {
    background: url(img/content/bbdxdxb.png) no-repeat center/cover;
  }
  .subtitle-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }
  .subtitle-right {
    margin-left: 0px;
  }
  .section-1-title {
    text-align: center;
  }
  .section-1-img {
    background-position: center 120px;
    background-size: cover;
  }
  .section-header {
    text-align: center;
    flex-direction: column;
  }
  .section-header-text--all {
    width: auto;
    margin: 0 auto;
    margin-top: 80px;
  }
  .section-header__image {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .section-footer {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 55px;
  }
  .section-footer-right {
    margin: 0 auto;
    margin-top: 30px;
  }
  .grey__image {
    background: none;
    background: url(img/content/ffsgsgg.png);
  }
  .sub-grey-container-text {
    max-width: 320px;
  }
  .sub-grey-container-text__third {
    max-width: 320px;
  }
  .sub-grey-container-text__second {
    max-width: 320px;
  }
  .blog-container-subtitle {
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .blog-container-subtitle-left__subtitle {
    max-width: 440px;
  }
  .blog-container__title {
    text-align: center;
  }
  #winners {
    margin-top: 50px;
  }
  .win-chapmion {
    padding-left: 30px;
    padding-right: 30px;
  }
  .win {
    flex-direction: column;
  }
  .win-image {
    margin-top: 30px;
  }
  .sub-grey-container-text {
    padding-left: 40px;
  }
  .gray-nav {
    height: 100px;
    font-size: 12px;
    position: relative;
    top: -40px;
  }
  .footer-container-flex {
    flex-direction: column;
    padding-left: 15px;
  }
  .footer-bottom {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
